.*
!.bandit
!.coveragerc
!.gitignore
!.isort.cfg
!.pre-commit-config.yaml
!.pylintrc
!.pylintrc.local
!.travis.yml
!.env.template
*.py[cod]
*.ipynb*
*.egg*
*.sqlite*
coverage.*
example
legacy
build
dist
__pycache__
